/* Global Settings */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-bg: #F6F6F6;
}

html,body {
    font-family: Lato,sans-serif;
}

body {
    background-color: var(--primary-bg);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Helper Classes */
.row {
    display: flex;
}
.grid {
    display: grid;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-evenly {
    justify-content: space-evenly;
}
.align-items-center {
    align-items: center;
}
.d-block {
    display: block;
}
.w-100 {
    width: 100%;
}
.text-center {
    text-align: center;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* Common Sections */
#header {
    padding: 0px 15px;
    border-bottom: 1px solid #e9e9e9;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
    background-color: #F6F6F6;
}

#header .col-1 {
    width: 25%;  
}
#header .col-2 {
    width: 40%;
}
#header .col-3 {
    width: 20%;
}

#header .logo {
    width: 35%;
}

#main-nav {
    width: 70%;
}
#main-nav a {
    display: block;
    font-size: 14px;
    padding: 22px 0px;
    color: #3e3e3e;
    font-weight: 600;
}

#header .col-2 .search {
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    position: relative;
}
#header .col-2 .search input[type="text"] {
    width: 100%;
    text-align: center;
    height: inherit;
    border-radius: inherit;
    border: 1px solid #e9e9e9;
}
#header .col-2 .search .search-icon {
    position: absolute;
    left: 41%;
    top: 20%;
}
::-webkit-input-placeholder {
    color: #000;
}
::-moz-placeholder {
    color: #000;
}

#header .col-3 ul li a {
    color: #000;
}

#footer {

}

/* Specific CSS */
#sidebar {
    padding-top: 40px;
    padding-left: 50px;
    position: fixed;
    left: 0px;
    width: 17%;
    top: 7%;
}
#sidebar .wrapper {
    margin-bottom: 40px;
}
#sidebar h4 {
    color: #828da8;
    font-size: 12px;
    margin-bottom: 14px;
}
#sidebar ul li {
    margin-bottom: 15px;
}
#sidebar ul li a {
    color: #3e3e3e;
    font-weight: 600;
}

#main {
    position: relative;
    left: 17%;
    width: 60%;
    margin-top: 90px;
    height: 80vh;
    overflow: scroll;
}
.section-wrapper h2 {
    margin-bottom: 20px;
    color: #3e3e3e;
    font-size: 20px;
}
.section-wrapper .row {
    gap: 20px;
    margin-bottom: 40px;
}
.section-wrapper img {
    width: 100%;
    border-radius: 5px;
}
.section-wrapper .card h3,
.section-wrapper .card p {
    font-size: 14px;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} 
.section-wrapper .card p a {
    color: #3e3e3e;
}

#playlist-wrapper {
    position: fixed;
    width: 20%;
    right: 20px;
    top: 10%;
    height: 80%;
    border: 1px solid #828da8;
    padding: 10px;
}
#playlist-wrapper h2{
    text-align: center;
    margin-bottom: 25px;
}

#playlist-wrapper .create-playlist-wrapper input[type="text"] {
    height: 30px;
    padding: 0px 6px;
}
#playlist-wrapper .create-playlist-wrapper button {
    height: 30px;
    width: 120px;
}

#playlist-wrapper .playlist {
    margin-top: 15px;
}

#playlist-list li {
    background-color: #bbc6df;
    padding: 10px;
    margin-bottom: 12px;
    transition-duration: 0.5s;
}

#player-footer audio{
    width: 100%;
}

#trending-list {
    display: flex;
    flex-wrap: wrap;
}
#trending-list li {
    width: 20%;
    margin-right: 3%;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}
#trending-list li button {
    width: 100%;
    display: block;
    padding: 10px 0px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 18px;
}
#trending-list li button:hover{
    background-color: #3e3e3e;
    color: #fff;
}

#playlist-popup {
    display: none;
    padding: 20px;
}
#playlist-popup {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #000;
    display: none;
    overflow: scroll;
    z-index: 10;
}
#playlist-popup li {
    padding: 15px 10px;
    font-size: 20px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
}
#playlist-popup li:hover {
    background-color: #f6f6f6;
}

#playlist-popup .close-popup {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}