/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-1: #EA57A3;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper Classes */
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-evenly {
    justify-content: space-evenly;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}

.grid {
    display: grid;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* Header */
#header {
    position: fixed;
    top: 0px;
    width: 97%;
    left: 3%;
    background-color: #45B39D;
}

/* Main Navigation */
#main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #111;
    z-index: 5;
}
#main-navigation .logo a {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    color: #9E9E9E;
}
#main-navigation .logo a:hover {
    color: #fff;
}

#main-navigation > ul > li {
    /* margin-bottom: 15px; */
}
#main-navigation > ul > li > a {
    color: #fff;
    display: block;
    padding: 15px;
    font-size: 20px;
    position: relative;
}
#main-navigation > ul > li > a:hover:not(>.dropdown) {
    color: var(--color-1);
}
#main-navigation .dropdown {
    background-color: var(--color-1);
    padding: 15px 8px;
    position: absolute;
    width: 150px;
    left: 100%;
    top: 0%;
    z-index: -2;
    transform: scaleX(0);
    transform-origin: left;
    transition-duration: 0.5s;
}
#main-navigation ul li a:hover .dropdown {
    transform: scale(1)
}

/* Banner */
#banner {
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/07-03-2020/mosaic-demo_Free/603993809/web/images/22.jpg");
    background-size: 100% 100%;
    animation: slideshow 10s linear infinite;
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
}
@keyframes slideshow {
    0%,20% {
        background-image: url("https://p.w3layouts.com/demos_new/template_demo/07-03-2020/mosaic-demo_Free/603993809/web/images/22.jpg");
    }
    33%,50% {
        background-image: url("https://p.w3layouts.com/demos_new/template_demo/07-03-2020/mosaic-demo_Free/603993809/web/images/33.jpg");
    }
    66%,90% {
        background-image: url("https://p.w3layouts.com/demos_new/template_demo/07-03-2020/mosaic-demo_Free/603993809/web/images/11.jpg");
    }
    100% {
        background-image: url("https://p.w3layouts.com/demos_new/template_demo/07-03-2020/mosaic-demo_Free/603993809/web/images/22.jpg");
    }
}

#content {
    margin-left: 4%;
    margin-top: 4%;
}

/* Sidebar */
#sidebar {
    width: 30%;
}

/* Main */
#main {
    width: 60%;
}

/* Footer */
#footer {

}

/* Page Specific CSS */
.section-grid {
    grid-template-columns: repeat(4, 25%);
    gap: 6px;
}
.songs-wrapper {
    margin-bottom: 30px;
}
.songs-wrapper h2 {
    margin-bottom: 20px;
}

.songs-wrapper .btn {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.songs-wrapper .btn:hover {
    color: var(--color-1);
}

#songs-new-release {
    gap: 20px;
}
#songs-new-release li{
    cursor: pointer;
}
#songs-new-release li span{
    font-size: 20px;
}
#songs-new-release li button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    background-color: #45B39D;
    color: #fff;
    font-size: 20px;
    border: none;
}
#songs-new-release li button:hover {
    background-color: var(--color-1);
}

#songs-new-release li img {
    width: 100%;
    margin-bottom: 10px;
}

#playList {
    margin-top: 20px;
}

#playList li {
    margin-bottom: 15px;
    background-color: #9E9E9E;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    position: relative;
}
#playList li img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
#playList li:hover {
    background-color: var(--color-1);
}
#playList li button {
    position: absolute;
    right: 20px;
    top: 22px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}